{% extends 'administrator/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accepted User</title>
</head>
<body>
    
</body>
</html>

<table border="1" align="center" cellpadding="10">
    <tr>
        <th>Sl.No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Address</th>
        <th>District</th>
        <th>Place</th>
        <th>Contact</th>
        <th>Password</th>
        <th>Photo</th>
        <th>Proof</th>
        <th>Action</th>
        

         
        

        
    </tr>
    {% for i in data %}
    <tr>
        
        <td>{{forloop.counter}}</td>
        <td>{{i.user_name}}</td>
        <td>{{i.user_email}}</td>
        <td>{{i.user_gender}}</td>
        <td>{{i.user_address}}</td>
        <td>{{i.place.district.district_name}}</td>
        <td>{{i.place.place_name}}</td>
        <td>{{i.user_contact}}</td>
        <td>{{i.user_password}}</td>
        <td><img src="{{i.user_photo.url}}" width="50" height="50"></td>
        <td><img src="{{i.user_proof.url}}" width="50" height="50"></td>
        <td><a href="{% url 'administrator:rejecteduser' i.id %}">Reject</a> </td>
    </tr>
    {% endfor %}

</table>
{% endblock content %}