<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <a href="{% url 'Test:teaminsertselect' %}">Team</a><br>

    <a href="{% url 'Test:palyercategoryinsertselect' %}">Player Category</a><br>

    <a href="{% url 'Test:playerinsertselect' %}">Player</a><br>

    <a href="{% url 'Test:matchInsertSelect' %}">Schedule</a><br>


    <a href="{% url 'Test:Playereleven' %}">Players Eleven</a><br>
</body>
</html>