<!DOCTYPE html>
<html lang="en">
<head>
    <title>Player gistration</title>
    
</head>
<body>
    <br><br>
    <center><h2>Player Registration</h2></center>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    
        <table border="3" align="center">
            
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" id="name" name="txtname" placeholder="Enter the Name"value="{{editdata.team_name}}"required></td>
            </tr>
           <tr> <td>Category</td>
            <td>
                <select name="sel_cat" id="sel_cat">
                    <option value="">...Select...</option>
                    {% for i in catdata %}
                    <option 
                    {% if i.id == editdata.playercategory_id %}
                    selected
                    {% endif %}
                    value="{{i.id}}">{{i.pcategory_name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>



        <tr>
            <td>Team</td>
            <td>
                <select name="sel_team" id="sel_team">
                    <option value="">...Select...</option>
                    {% for i in teamdata %}
                    <option 
                    {% if i.id == editdata.team_id %}
                    selected
                    {% endif %}
                    value="{{i.id}}">{{i.team_name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
           
            <tr><td>Photo</td>
                <td><input type="file" name="fileImage"  value="{{editdata.team_photo}}" required ></td>
            </tr>
            <tr>
    
            <tr>
                
                <td colspan="2" align="center">
                    <input type="submit" name="btnsubmit" value="Save">
                    <input type="reset" name="btncancel" value="Cancel">
                </td>
            </tr>
        </table>
        <table border="1" align="center">
            <tr>
                <td>Slno</td>
                <td>Name</td>
                <td>Category</td>
                <td>Team</td>
                <td>Image</td>
            </tr>
            {%  for i in data %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{i.player_name}}</td>
              <td>{{i.playercategory.pcategory_name}}</td>
              <td>{{i.team.team_name}}</td>
              <td><img src="{{i.player_photo.url}}" width="50" height="50"></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>
