{% extends 'Shop/Header.html' %}
{% load static %}
{% block content %}
<style>
    /* Define styles for the table */
    table {
        width: 80%; /* Adjust the width of the table */
        border-collapse: collapse; /* Collapse table borders */
        margin: 20px auto; /* Center the table horizontally */
    }
    
    th, td {
        padding: 8px; /* Add padding to table cells */
        text-align: left; /* Align text to the left */
    }
    
    th {
        background-color: #f2f2f2; /* Set background color for table header */
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2; /* Alternate row background color */
    }

    tr:hover {
        background-color: #ddd; /* Highlight row on hover */
    }

    a {
        text-decoration: none; /* Remove underline from links */
        color: blue; /* Set link color */
    }

    a:hover {
        color: red; /* Change link color on hover */
    }
</style>

<table border="1">
    <tr>
        <th>Slno</th>
        <th>User Name</th>
        <th>Contact</th>
        <th>Address</th>
        <th>Date of order</th>
        <th>Amount</th>
        <th>Action</th>   
    </tr>
    {% for i in Data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.user.user_name }}</td>
        <td>{{ i.user.user_contact }}</td>
        <td>{{ i.user.user_address }}</td>
        <td>{{ i.booking_date }}</td>
        <td>{{ i.price }}</td>
        <td><a href="{% url 'Shop:details' i.id %}">View order</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
